.tab-button {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.tab-button:active {
  background-color: #a0c2e9;
}

.tab-button-active {
  background-color: #a0c2e9;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}
